.Rproj.user/
.Rhistory
.RData
.Ruserdata
.idea/
temp/
Data/other_datasets
results/
/Python/frost/__pycache__
*.pyc
/Python/scalability_data
/Python/convergence_data
*.Identifier
/Experiments/Data/other_datasets
/Experiments/Python/convergence_data
/Experiments/Python/convergence_plots
/Experiments/Python/scalability_data
.vscode/
